services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped

    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sharever-network

  redis:
    image: redis:7-alpine
    container_name: redis_db
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}

    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - sharever-network

  migrate:
    image: migrate/migrate
    volumes:
      - ./internal/db/migrations:/migrations
    command:
      ["-path", "/migrations", "-database", "${DB_SOURCE}", "-verbose", "up"]
    depends_on:
      - postgres
    networks:
      - sharever-network
  api:
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: Dockerfile

    environment:
      - SERVER_ADDRESS=0.0.0.0:8080
      - JWT_SECRET=${JWT_SECRET}
      - TOKEN_DURATION=${TOKEN_DURATION}

      - DB_SOURCE=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable

      - REDIS_ADDRESS=redis:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=0

      - EMAIL_SENDER_NAME=${EMAIL_SENDER_NAME}
      - EMAIL_SENDER_ADDRESS=${EMAIL_SENDER_ADDRESS}
      - EMAIL_SENDER_PASSWORD=${EMAIL_SENDER_PASSWORD}

      - CLOUDINARY_URL=${CLOUDINARY_URL}
    depends_on:
      - postgres
      - redis
      - migrate
    networks:
      - sharever-network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - sharever-network

networks:
  sharever-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
