name: Production Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup 
        shell: powershell
        run: |
          cd share-bill-backend-v2
          cp example.env .env

      - name: Deploy Backend
        run: |
          cd share-bill-backend-v2
          docker compose down
          docker compose up -d --build